.leave-req-group {
    display: flex;
    gap: 16px;
    margin: 32px;
}

.leave-req-status-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 24px;
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.leave-req-status-container.active.requested {
    border-color: var(--status-info);
    background-color: var(--status-info-bg);
  }
  
  .leave-req-status-container.active.pending {
    border-color: var(--status-pending); 
    background-color: var(--status-pending-bg);
  }
  
  .leave-req-status-container.active.approved {
    border-color: var(--status-approved);
    background-color: var(--status-approved-bg);
  }
  
  .leave-req-status-container.active.rejected {
    border-color: var(--status-rejected); 
    background-color: var(--status-rejected-bg);
  }
  

.leave-req-status {
    display: flex;
    align-items: center;
    gap: 8px;
}

.leave-req-status p {
    color: var(--primary-color-muted);
    font-weight: 500;
}

.search-wrapper {
    position: relative;
    width: 300px;
}

.search-wrapper input {
    width: 100%;
    padding: 8px 12px 8px 36px;
    /* left padding for icon */
    border-radius: 6px;
    border: 1px solid var(--border-color);
    font-size: 14px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    /* Prevents blocking clicks */
}

/* Modal */

/* Dark overlay */
.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Modal container */
.modal-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal box */
.modal-box {
    width: 420px;
    background: var(--secondary-bg-color);
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.2);
}

.modal-header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--border-color);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 32px;
}

.review-box {
    display: flex;
    gap: 12px;
}

.review-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-actions button {
    padding: 8px 16px;
    font-size: 15px;
    border-radius: 6px;
    font-weight: 500;
    border: none;
    cursor: pointer;
  }
  
  /* Approve (Primary Pink) */
  .btn-approve {
    background-color: var(--primary-color-pink);
    color: white;
  }
  
  /* Reject (Soft Red) */
  .btn-reject {
    background-color: var(--status-rejected-bg); 
    color: var(--status-rejected);
  }
  
  /* Cancel (Neutral Grey) */
  .btn-cancel {
    background-color: #e5e7eb;
    color: #374151;
  }
  