/* page wrapper */
.sr-page {
  background: #f5f6fa;
  min-height: 100vh;
}

.sr-container {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 14px;
}

/* weekly grid container */
.sr-weekly-container {
  display: flex;
  gap: 20px;
  margin-top: 48px;
}
