@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #ffffff;
  --border-color: #E6E6E6;

  /* Primary colour: Titles, Nav icons, Buttons */
  --primary-color-pink: #FF4F8B;
  --primary-color-darkpink: #E33670;
  
  /* Primary colour: Titles, Text, Nav icons*/
  --primary-color-dark: #1C1C1C;
  --primary-color-muted: #7C7C7C;

  /* Disabled button */
  --disabled-bg-color: #e6e6e6;
  --disabled-text-color: #7c7c7c;

  /* Status */
  --status-approved: #0F7A25;
  --status-approved-bg: #E8FFED;
  --status-pending: #DA8A00;
  --status-pending-bg: #FFF7DA;
  --status-rejected: #C62828;
  --status-rejected-bg: #FFE7E7;
  --status-info: #1976D2;
  --status-info-bg: #E3F2FD;

}

header {
  padding: 18px 32px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--secondary-bg-color);
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-bg-color);
  color: var(--primary-color-dark);
}

button {
  font-family: 'DM Sans', sans-serif;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

h1{
  font-size: 32px;
  font-weight: 600;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 32px;
  padding: 18px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--secondary-bg-color);
}